<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304533883144-072m55i0uinkduujmrnvo66bho5tnurq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304533883144-072m55i0uinkduujmrnvo66bho5tnurq</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ5c4cIxL2Sp5Jag-qsMzfAtP_tUIYaYo</string>
	<key>GCM_SENDER_ID</key>
	<string>304533883144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zaliczenie</string>
	<key>PROJECT_ID</key>
	<string>zaliczenie-1ce25</string>
	<key>STORAGE_BUCKET</key>
	<string>zaliczenie-1ce25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304533883144:ios:734d476fcd2e24b9c544bd</string>
</dict>
</plist>